$menu-width: 300px;
$max-width-without-menu: 768px;
$smaller-width: 425px;
$dark-bg-color: #252525;
$top-bar-height: 50px;
$content-padding: 10px;
$red-bg-color: #e0360e;
$blue-bg-color: #376a9d;
$error-color: #ff7150;

@mixin box-shadow {
  box-shadow: 1px 0px 5px 0px $dark-bg-color;
}

@mixin text-shadow {
  text-shadow: 1px 1px 5px $dark-bg-color;
}