@import "variables";

.app-content {
  margin-left: $menu-width + 10px;
  margin-top: $top-bar-height;
  padding: $content-padding;
  float: left;
}

@media (max-width: $max-width-without-menu) {
  .app-content {
    margin-left: 0;
  }
}