@import "variables";

.app-content {
  margin-left: $menu-width + 10px;
  margin-top: $top-bar-height;
  padding: $content-padding;
  float: left;
  width: calc(100% - #{$menu-width} - 10px - #{$content-padding*2});
  max-width: 768px;

  .app-youtube-player {
    width: calc(100% - 10px);
  }

  .app-player-buttons {
    margin-top: 10px;
    button {
      padding: 15px 20px 15px 20px;
      font-size: 16px;
      color: #fff;
      background-color: $red-bg-color;
      cursor: pointer;
      border:none;
      box-shadow: 1px 0px 5px 0px $dark-bg-color;

      &:hover {
        opacity: 0.9;
      }

      &:focus {
        outline: none;
      }

      &:active {
        box-shadow: none;
      }
    }
  }
}

@media (max-width: $max-width-without-menu) {
  .app-content {
    margin-left: 0;
    width: calc(100% - #{$content-padding*2});

    .app-content-header {
      font-size: 28px;
    }

    .app-youtube-player {
      width: 100%;
    }

    .app-player-buttons {
      button {
        width: 100%;
      }
    }
  }
}

@media (max-width: $smaller-width) {
  .app-content {
    .app-content-header {
      text-align: center;
      font-size: 24px;
    }
  }
}