@import "common";

$toggle-button-size: 32px;
$logo-size: 40px;

.app-top-bar {
  background-color: #000;
  position: fixed;
  width: 100%;
  min-width: 350px;
  height: $top-bar-height;
  z-index: 100;

  @include box-shadow();

  &__menu-toggle {
    display: none;
  }

  &__header {
    margin-top: ($top-bar-height - $logo-size) / 2;
    margin-left: 20px;
  }

  &__logo {
    width: $logo-size;
    height: $logo-size;
    background-image: url("../img/logo.svg");
    float: left;
    margin-right: 10px;
  }

  &__header-text {
    color: $red-bg-color;
    font-size: 24px;
    padding-top: ($logo-size - 24px) / 2;
  }
}

@media (max-width: $max-width-without-menu) {
  .app-top-bar {
    text-align: center;

    &__menu-toggle {
      display: block;
      box-sizing: border-box;
      cursor: pointer;
      padding: $content-padding;
      width: $top-bar-height + 1;
      height: $top-bar-height;
      float: left;

      svg {
        display: inline-block;
        color: $red-bg-color;
        fill: $red-bg-color;
        height: $toggle-button-size;
        width: $toggle-button-size;
        user-select: none;
      }
    }

    &__header {
      display: inline-block;
      width: 250px;
      margin-left: -$toggle-button-size;
    }
  }
}