@import "common";

$buttons-width: 320px;

.app-track {
  width: 100%;
  background-color: #000;
  padding: 8px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  &__name {
    font-size: 14px;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    margin-top: 10px;
    width: calc(100% - #{$buttons-width} - 5px);
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: $buttons-width;
  }

  &__button {
    padding: 10px;
    &--search {
      padding: 10px 10px 10px 40px;
      background-image: url("../img/search.svg");
      background-repeat: no-repeat;
      background-position: 10px 50%;
    }
  }
}

@media (max-width: $max-width-without-menu) {
  .app-track {
    display: block;

    &__name {
      margin-top: 0;
      width: 100%;
    }

    &__buttons {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__button {
      margin-bottom: 10px;

      &--search {
        padding-left: 10px;
        text-align: center;
        flex-basis: calc(50% - 5px);
      }

      &--next {
        flex-basis: 100%;
      }
    }
  }
}