$menu-width: 300px;
$max-width-without-menu: 768px;
$smaller-width: 425px;
$dark-bg-color: #252525;
$top-bar-height: 50px;
$content-padding: 10px;
$red-bg-color: #e0360e;
$blue-bg-color: #376a9d;
$error-color: #ff7150;