@import "variables";

body {
  margin: 0;
  padding: 0;
  font-family: Arial,Helvetica,sans-serif;
  background-color: #e5e5e5;
  transition: background-color 500ms linear;

  &.not-loaded {
    background-color: #000;
    text-align: center;
    overflow: hidden;
    color: #e5e5e5;
    font-size: 18px;

    .cover {
      width: 100%;
      max-width: 610px;
      margin-top: 30px;
    }
  }
}

@import "top-bar";
@import "menu";
@import "content";