@import "variables";

body {
  margin: 0;
  padding: 0;
  font-family: Arial,Helvetica,sans-serif;
  background: #d9dce3 url("../img/content-bg.jpg");
}

.shadow {
  box-shadow: 1px 0px 5px 0px $dark-bg-color;
}

@import "top-bar";
@import "menu";
@import "content";